body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #233d23;
}
html {
    scroll-behavior: smooth; 
}
.header-main {
    background-color: #85A389;
}
.nav-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-li {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #f7d29b; 
}

.nav-li::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}
  
.nav-li:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 50px;
}

.header-container {
    max-width: 1300px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main {
    margin-bottom: auto;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #FFD89C;
  }

.my-logo {
    border-radius: 35px;
    width: 200px;
}
.section-logo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 20px 35px;
    border-bottom: 10px solid #f7c57bb2;
}
.section-logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
.h1-title {
    position: relative;
    padding: 0;
    color: #233d23;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 10px;
    word-spacing: 7px;
}
.h2-title {
    margin-top: 10px;
    color: #5c5c5c;
    font-weight: 300;
    letter-spacing: 6px;
}
.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-list li {
    gap: 15px;
    display: flex;
}

a {
    text-decoration: none;
    color: #5c5c5c;
}

.contacts-item :hover {
    background: #FFD89C; /* Цвет фона под ссылкой */ 
    color: #233d23;
}
#projects .section-item:hover {
    border-bottom: 3px solid #f7c57bb2; 
    color: #233d23;
}
.pre {
  padding: 0;
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
}
  
.footer {
    background-color: #85A389;
    padding: 10px;  
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #f7d29b;
  }
  @media (max-width: 800px) {
    .section {
      width: 100%;
    }
    .section-logo {
      flex-direction: column;
      align-items: center;
    }  
    .container {
      max-width: 700px;
      margin: 0 auto;
      min-height: 50px;
  }
    .footer-container {
      justify-content: space-between;
    }
  }
  
  @media (max-width: 500px) {
    .container {
      max-width: 450px;
  }
  .nav-li {
    padding: 10px;
    font-size: 15px;
    line-height: 10px;
  }
  .my-logo {
    width: 200px;
  }
  
  .h1-title {
    font-size: 20px;
    font-weight: 150;
    letter-spacing: 5px;
    word-spacing: 4px;
  }
  .section-logo .h2-title {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  .skills {
    font-size: 17px;
}
.footer img {
  width: 70px;
  padding: 5px;  
}

  }